*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    --primarycolor:red;
}
body{
    background: #fff;
}
header{
    background: #111;
    color:#fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: #ddd;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}
nav a:hover{
    color: #fff;
}
.Hero{
    padding: 60px 40px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Hero-Text h1 {
    font-size: 50px;
    margin-bottom: 10px;
}
.Hero-Text p {
    font-size: 18px;
    margin-bottom: 20px;    
}
.Hero-Text button{
    padding: 10px 20px;
    border: none;
    background: #111;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
.Hero-Text button:hover{
    background: #333;
}
.Hero-image img{
    width: 300px;
    border-radius: 15px;
}
.feature{
    margin: 50px 40px ;
    display: flex;
    justify-content: space-between;
}
.feature-card{
    background: #f5f5f5;
    padding: 20px;
    width: 30%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}
.feature-card:hover{
    scale: 1.03;
}
.feature-card h3{
    margin-bottom: 10px;
}